PORT=3333

CLOUDFLARE_ACCESS_KEY_ID=""
CLOUDFLARE_SECRET_ACCESS_KEY=""
CLOUDFLARE_BUCKET=""
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_PUBLIC_URL=""

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="docker"
POSTGRES_DB="upload"
POSTGRES_PORT="5432"